# Los scripts SQL no deben ser accesibles por HTTP bajo ninguna circunstancia.
<IfModule mod_authz_core.c>
  Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
  Order allow,deny
  Deny from all
</IfModule>
